@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background: #f3dec0;
    background-image: radial-gradient(#f3dec0,#e7b56f);
    z-index: 0;
}

.app{
    height: 100vh;
    width: 100vw;
}