@use 'config';

.introduction{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;

    .intro-title{
        font-size: 12rem;
        background: linear-gradient(rgba(247, 133, 62, 1),rgb(177, 96, 45));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: auto;
        position: absolute;
        top: 25%;
        animation: up 1s ease-in-out infinite alternate;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 1;

        @keyframes up {
            100%{ transform: translateY(-20px); }
        }

        @keyframes title-shadow {
            0%{ box-shadow: 0 0 10px 1px rgba(184, 120, 37, 0.1);}
            100%{ box-shadow: 0 0 20px 10px rgba(184, 120, 37, 0.3); }
        }

        &::after{
            content: '';
            border-radius: 100%;
            width: 35rem;
            animation: up 1s ease-in-out infinite alternate-reverse, title-shadow 1s infinite alternate-reverse;
            position: absolute;
            top: 250px;
        }
    }

    .intro-button{
        height: 7rem;
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
        font-size: 2rem;
        border-radius: 10px;
        outline: none;
        border: none;
        cursor: pointer;
        color: white;
        background: #f3894c;
        background-image: linear-gradient(rgba(247, 133, 62, 1),rgb(212, 104, 37));
        box-shadow: 0px 10px rgb(180, 88, 30);
        transition: 0.2s ease-in-out;
        font-family: 'Montserrat', sans-serif;
        z-index: 1;
        position: relative;
        margin: auto;

        &:hover:not(.expansion-1){
            color: #f3d6ae;
            background: rgb(247, 133, 62);
            box-shadow: 0px 10px #e26e2a,
                        0px 5px 10px 10px #dd9b40;
        }

        .arm{
            position: absolute;
            left: 0rem;
            top: 8rem;
            height: 5rem;
            width: 0rem;
            background: linear-gradient(rgb(236, 117, 117),rgb(83, 37, 37));
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            animation: growArm 1s ease-in-out 4s 1 normal forwards;
            display: none;

            @keyframes growArm{
                50%{
                    top: 8rem;
                    left: -1rem;
                    height: 5rem;   
                    width: 1rem; 
                }

                100%{
                    top: 5.5rem;
                    left: -2rem;
                    height: 10rem;
                    width: 2rem; 
                }
            }

            .shoulder{

            }
        }

        .container{
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            border: double 5px transparent;
            border-radius: 1rem;
            background-image: linear-gradient(rgba(247, 133, 62, 1),rgb(218, 119, 58)), linear-gradient(rgb(255, 190, 146),rgb(187, 136, 103));
            background-origin: border-box;
            background-clip: content-box, border-box;
            height: 45rem;
            width: 45rem;
            display: none;
            transition: all 1s;
            opacity: 0;
            animation: opacity 0.5s ease-in-out 1.5s normal forwards;
            flex-wrap: wrap;
            overflow: hidden;

            @keyframes opacity {
                100%{
                    transform: translateY(-15px);
                    box-shadow: 
                                0 12px 5px 3px rgba(0, 0, 0, 0.3),
                          inset 0 15px 5px 0 rgba(0, 0, 0, 0.3);
                }
            }

            .cell{
                width: 12.5%;
                height: 12.5%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.1);
                cursor: pointer;
                background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1));
                animation: shade 0.5s ease-in-out 1.5s normal forwards;
                opacity: 0;
                transform: translate(-30px,-30px) skew(0,-20deg);
                cursor: default;
                // animation: name duration timing-function delay iteration-count direction fill-mode;

                @for $i from 1 through 64 {
                    &:nth-child(#{$i}){
                        animation: test 0.5s ease-in-out #{(0.03*$i)+1.8}s 1 normal forwards;

                        @keyframes test {
                            0%{ 
                                opacity: 0;
                                transform: translate(-30px,-30px) skew(0,-20deg);
                                box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
                            }
                            100%{
                                opacity: 1;
                                transform: translate(0px,0px) skew(0deg, 0deg);
                                box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
                                cursor: pointer;
                            }
                        }
                    } 
                }

                @keyframes shade {
                    100%{
                        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
                    }
                }

                &:hover{
                    background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.2));

                }

                &:nth-child(n + 1):nth-child(-n + 8):nth-child(even){
                    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));

                    &:hover{
                        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45));
        
                    }
                }

                &:nth-child(n + 9):nth-child(-n + 16):nth-child(odd){
                    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));

                    &:hover{
                        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45));
        
                    }
                }

                &:nth-child(n + 17):nth-child(-n + 24):nth-child(even){
                    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));

                    &:hover{
                        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45));
        
                    }
                }

                &:nth-child(n + 25):nth-child(-n + 32):nth-child(odd){
                    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));

                    &:hover{
                        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45));
        
                    }
                }

                &:nth-child(n + 33):nth-child(-n + 40):nth-child(even){
                    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));

                    &:hover{
                        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45));
        
                    }
                }

                &:nth-child(n + 41):nth-child(-n + 48):nth-child(odd){
                    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));

                    &:hover{
                        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45));
        
                    }
                }

                &:nth-child(n + 49):nth-child(-n + 56):nth-child(even){
                    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));

                    &:hover{
                        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45));
        
                    }
                }

                &:nth-child(n + 57):nth-child(-n + 64):nth-child(odd){
                    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));

                    &:hover{
                        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45));
        
                    }
                }
            }
        }  
    }
}

.expansion-1{
    animation: padding 2s ease-in-out, border 0.5s ease-in-out 1s, shadow 0.5s ease-in-out 1.5s;
    animation-fill-mode: forwards;
    cursor: not-allowed;

    @keyframes border {
        0%{ border-radius: 0; }
        100%{ border-radius: 2rem 30% 2rem 30%; }   
    }

    @keyframes shadow {
        0%{ box-shadow: 0px 10px rgb(180, 88, 30); }
        100%{ box-shadow: 
                        0px 60px rgb(180, 88, 30),
                        inset 0px -60px 40px 0 rgba(0, 0, 0, 0.05),
                        inset 0px 60px 40px 0 rgba(250, 250, 250, 0.08);
        }
    }
    
    @keyframes padding {
        33% { padding: 0 35rem 0rem 35rem; }
        66% { padding: 60rem 35rem 0 35rem; }
        100%{ padding: 60rem 35rem 0 35rem; }
    }
}

.opacity{
    opacity: 0;
}

.fa-chess-bishop{
    font-size: 10rem;
    text-shadow: 0px 10px #e28965;
}

